* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif; 
}

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    color: black;
    width: 100%;
    font-size: 30px;
}

#contenido{
    background-color: khaki;
    text-align: center;
    width: 100%;
    height: 1000px;
}   

#pie{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: rgb(0, 2, 2);
    color: white;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}